app:
    encrypt_key: ${RANDOM_STRING}
broker:
    type: event_bus
cache:
    type: "memory"
db:
    driver: sqlite
    dsn: ./runtime/data.db
    prefix: null
debug: false
env: prod
http:
    address:
        - :5174
logger:
    disableConsole: false
    level: info
    logFile:
        enable: true
        errorFilename: ./runtime/logs/cago.err.log
        filename: ./runtime/logs/cago.log
source: file
version: 1.0.0
